
.repl {
    color: #333;
    background: #f8f8f8;
    padding: 0.5em;
}

pre {
    margin: 0;
}

#fengari-console {
    padding: 0;
}

#fengari-input {
    font-family: monospace;
    border: none;
    color: #333;
    background: #f0f0f0;
    width: 100%;
    font-size: 13px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

#fengari-input:focus, #fengari-input:hover {
    background: #e8e8e8;
}

.fengari-input-container {
    font-family: monospace;
    position: relative;
}

#fengari-prompt {
    position: absolute;
    bottom: 0;
    left: 3px;
}
