
.repl {
    color: #333;
    background: #f8f8f8;
    padding: 0;
    text-align: left;
    width: 600px;
    margin: auto;
}

.repl code {
    height: 200px;
    overflow-y: scroll;
}

pre {
    margin: 0;
}

#fengari-console {
    padding: 0.5em;
    font-size: 11px;
    display: block;
}

.fengari-input-container {
    display: flex;
}

.fengari-input-container > * {
    outline: none;
    border: none;
    white-space: pre-wrap;
    font-family: monospace;
    color: #333;
    background: #f0f0f0;
    font-size: 11px;
    min-height: 11px; /* minimum one line */
    padding: 0;
    margin: 0;
}

#fengari-input {
    flex: 1;
    height: 11px; /* start off one line tall */
}

#fengari-input:focus, #fengari-input:hover, .fengari-input-container:hover {
    background: #e8e8e8;
}
